/*Equipo 5*/

body{
    position: relative;
    margin: 0 auto;
    width: 1280px;
    border: 1px black solid;
    height: 720px;
}

h1{
    text-align: center;
}

img{
    width: 300px;
    margin: 100px;
    display: inline-block;
}

#contenedor{
    color: #fff; /* Color del texto del footer */
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff; /* Cambia esto al color de texto que desees */
    padding: 10px;
    max-height: 300px;
}

#whosTalking{
    max-height: 300px;
    max-width: 200px;
    border: 1px black solid;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
}

#divHistoria{
    margin: 0 ;
    background-color: #f0f0f0;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #333;
    max-height: 300px;
}